<div class="pull-right">
  <%= link_to("发表", new_post_path, class: "btn btn-lg btn-primary")%>
</div>

<div class="container">
<% @posts.each do |post| %>

  <div class="panel panel-default">
    <div class="panel-body">
      <% if post.user.avatar.present? %>
        <%= image_tag(post.user.avatar.thumb.url,style:"border-radius:50%;width:50px;height:50px;",class:"thumbnail")  %>
          <!-- 用户的自选头像 -->
      <% else %>
        <%= image_tag("http://ww1.sinaimg.cn/large/006tNbRwgy1ffzxufbo0lj3069069t8o.jpg",class:"thumbnail",style:"width:60px;height:60px;border-radius:50%;") %>
          <!-- 定义用户未选择头像时的默认头像 -->
      <% end %>
      <%= post.user.username %>
      <br/>
      发布于 <%= post.created_at.strftime("%Y/%m%d %I:%M") %>
    </div>
    <div class="panel-body">
      <%= link_to(post.title, post_path(post)) %>
      <br/>
      <br/>
      <span id="psot-thumbsup-<%= post.id%>" class=" label label-success"><%= post.likes.count%>👍</span>
      <span id="psot-thumbsup-<%= post.id%>" class=" label label-danger"><%= post.hates.count%>👎</span>
      <div class="text-right">
        <% if post.liked_users.any? %>
          <%= post.liked_users.map{ |u| u.display_name}.join(",")%>点了赞
        <% end %>

        <% if current_user %>
          <% if post.find_like(current_user) %>
            <%= link_to "取赞", unlike_post_path(post), method: :post, class: "btn btn-primary btn-sm" %>
          <% else %>
            <%= link_to "👍", like_post_path(post), method: :post, class: "btn btn-primary btn-sm" %>
          <% end %>
        <% end %>

        <% if current_user %>
          <% unless post.find_hate(current_user) %>
           <%= link_to "👎", hate_post_path(post), method: :post, class: "btn btn-info btn-sm"  %>
          <% else %>
            <%= link_to "👎", hate_post_path(post), method: :post, class: "btn btn-info btn-sm"  %>
          <% end %>
        <% end %>

        <% if current_user && current_user.is_collect_of?(post) %>
            <%= link_to("取消收藏", uncollect_post_path(post), method: :post, class: "btn btn-sm") %>
          <% else %>
            <%= link_to("收藏", collect_post_path(post), method: :post, class: "btn btn-sm") %>
        <% end %>
      </div>
    </div>
    <div class="container">
      <% if post.image.present? %>
        <%= image_tag(post.image.thumb.url, class: "thumbnail")%>
      <% end %>
    </div>
    <div class="panel-body">
      <% post.comments.each do |comment| %>
      <% if !comment.is_hidden? %>
        <%= comment.note %>
      </br>
      <% end %>
      <% end %>
    </div>

    <div class="panel-body">
      <%= simple_form_for [post, @comment] do |f| %>
        <%= f.input :note, input_html: {class: "form-control"} %>
        <%= f.submit "发表评论" %>
      <% end %>
    </div>
  </div>

<% end %>
</div>

<div class="text-center">
  <%= will_paginate @posts %>
</div>
